In [2]:
from pathlib import Path

import pandas as pd

In [3]:
df_results = pd.DataFrame()
for i in range(40):
    path_results = f"{i}_results_gdsearch.json.gz"
    df_results = pd.concat(
        [df_results, pd.read_json(path_results, orient="index")], axis=0
    )
print(df_results.shape)
display(df_results.head())

(360000, 5)

,hparams,mae,rmse,spearman,r2_score
0,"{'max_depth': 4, 'min_samples_leaf': 0.0001, '...",10.579698,20.474100,0.795143,0.495604
1,"{'max_depth': 4, 'min_samples_leaf': 0.0001, '...",10.549342,20.418032,0.799853,0.498363
2,"{'max_depth': 4, 'min_samples_leaf': 0.0001, '...",10.529357,20.398855,0.798310,0.499304
3,"{'max_depth': 4, 'min_samples_leaf': 0.0001, '...",10.550498,20.406892,0.798255,0.498910
4,"{'max_depth': 4, 'min_samples_leaf': 0.0001, '...",10.548979,20.390201,0.799513,0.499729

In [4]:
for metric, ascending in zip(
    ["mae", "rmse", "spearman", "r2_score"], [True, True, False, False]
):
    display(df_results.sort_values(by=metric, ascending=ascending).iloc[:5])

,hparams,mae,rmse,spearman,r2_score
270000,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.005777,16.924421,0.864643,0.655341
270002,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.010680,16.853817,0.867503,0.658210
270001,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.032475,16.904436,0.866488,0.656154
270009,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.077050,16.979463,0.864035,0.653095
270008,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.081253,16.997489,0.867967,0.652358

,hparams,mae,rmse,spearman,r2_score
270002,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.010680,16.853817,0.867503,0.658210
270001,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.032475,16.904436,0.866488,0.656154
270000,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.005777,16.924421,0.864643,0.655341
270009,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.077050,16.979463,0.864035,0.653095
270008,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.081253,16.997489,0.867967,0.652358

,hparams,mae,rmse,spearman,r2_score
270903,"{'max_depth': 10, 'min_samples_leaf': 0.005098...",8.890996,18.742361,0.869873,0.577321
270921,"{'max_depth': 10, 'min_samples_leaf': 0.005098...",8.890996,18.742361,0.869873,0.577321
270912,"{'max_depth': 10, 'min_samples_leaf': 0.005098...",8.890996,18.742361,0.869873,0.577321
270920,"{'max_depth': 10, 'min_samples_leaf': 0.005098...",8.873962,18.710977,0.869777,0.578735
270902,"{'max_depth': 10, 'min_samples_leaf': 0.005098...",8.873962,18.710977,0.869777,0.578735

,hparams,mae,rmse,spearman,r2_score
270002,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.010680,16.853817,0.867503,0.658210
270001,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.032475,16.904436,0.866488,0.656154
270000,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.005777,16.924421,0.864643,0.655341
270009,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.077050,16.979463,0.864035,0.653095
270008,"{'max_depth': 10, 'min_samples_leaf': 0.0001, ...",8.081253,16.997489,0.867967,0.652358

In [5]:
index_opti = 270002
hparams_opti = df_results.loc[index_opti]["hparams"]
hparams_opti.pop("n_jobs")
hparams_opti

{'max_depth': 10,
 'min_samples_leaf': 0.0001,
 'min_samples_split': 0.0001,
 'n_estimators': 200,
 'random_state': 42}

In [6]:
path_hparams_opti = "hparams_opti.json"
df_hparams_opti = pd.DataFrame.from_dict(hparams_opti, orient="index")
if not Path(path_hparams_opti).exists():
    df_hparams_opti.to_json(path_hparams_opti)

pd.read_json(path_hparams_opti).to_dict()[0]

{'max_depth': 10.0,
 'min_samples_leaf': 0.0001,
 'min_samples_split': 0.0001,
 'n_estimators': 200.0,
 'random_state': 42.0}