In [71]:
from collections import Counter
from pathlib import Path

import json
import os
import pandas as pd

In [72]:
# 1. Lists all directories in the previous dir
# 2. Create a dict with the name of the models as keys
# 3. The values will be a new dict with the denomination of the "tasks_..." or "tasks" dir as key
# 4. The values of this last dict will be a new dict with the task (or split) as key so random_125 for example
# 5. The values of this last dict will be a new dict with the type of features (mmf e.g.) as key
# 6. The values of this last dict will be a new dict with the name of the metric as key
# 7. The values of this last dict will be the metric itself

In [73]:
# 1. Lists all directories in the previous dir
path_benchmarks = Path("..")
model_names = next(os.walk(path_benchmarks), (None, None, []))[1]
model_names.remove("results_stats")
model_names

['matten', 'modnet', 'mean_value', 'et']

In [74]:
# 2. Create a dict with the name of the models as keys
dict_results = {m: {} for m in model_names}
dict_results

{'matten': {}, 'modnet': {}, 'mean_value': {}, 'et': {}}

In [75]:
# 3. The values will be a new dict with the denomination of the "tasks_..." or "tasks" dir as key
for m in dict_results.keys():
    path_tasks = path_benchmarks / m
    for d in next(os.walk(path_tasks), (None, None, []))[1]:
        if "tasks" in d:
            dict_results[m].update({d: {}})

print(dict_results)

{'matten': {}, 'modnet': {'tasks': {}}, 'mean_value': {'tasks': {}}, 'et': {'tasks_dflt': {}, 'tasks_An': {}}}

In [76]:
# 4. The values of this last dict will be a new dict with the task (or split) as key so random_125 for example
for m in dict_results.keys():
    path_tasks = path_benchmarks / m
    for t in dict_results[m].keys():
        path_split = path_tasks / t
        for d in next(os.walk(path_split), (None, None, []))[1]:
            if "distribution" in d or "random" in d:
                dict_results[m][t].update({d: {}})

print(dict_results)

{'matten': {}, 'modnet': {'tasks': {'distribution_125': {}, 'distribution_250': {}, 'random_125': {}, 'random_250': {}}}, 'mean_value': {'tasks': {'random_250': {}}}, 'et': {'tasks_dflt': {'distribution_125': {}, 'distribution_250': {}, 'random_125': {}, 'random_250': {}}, 'tasks_An': {'distribution_125': {}, 'distribution_250': {}, 'random_125': {}, 'random_250': {}}}}

In [77]:
# 5. The values of this last dict will be a new dict with the type of features (mmf e.g.) as key
for m in dict_results.keys():
    path_tasks = path_benchmarks / m
    for t in dict_results[m].keys():
        path_split = path_tasks / t
        for s in dict_results[m][t].keys():
            path_feat = path_split / s

            for f in next(os.walk(path_feat), (None, None, []))[2]:
                if "json" not in f:
                    continue
                path_results = path_feat / f
                with open(path_results, 'r') as file:
                    results = json.load(file)
                dict_results[m][t][s].update({f.split(".json")[0]: results['metrics']})

# display(dict_results)

In [78]:
f = {}
stack = [(dict_results, '')]  # Stack holds tuples of (current_dict, current_key)

while stack:
    c, p = stack.pop()
    
    for k, v in c.items():
        new_key = f"{p}_{k}" if p else k
        
        if isinstance(v, dict):
            stack.append((v, new_key))  # Push the nested dictionary onto the stack
        else:
            f[new_key] = v  # Add to the flattened dictionary

# print(f)

In [79]:
dict_results_ravel = {}
for k, v in f.items():
    new_k, metric = k.replace("_tasks","").split("results_")
    if new_k not in dict_results_ravel.keys():
        dict_results_ravel[new_k] = {}
    dict_results_ravel[new_k][metric] = v

In [103]:
def df_style(val):
    return "color: red"
def df_style_bold(val):
    return "font-weight: bold"
import numpy as np
def highlight_max(s, props='color:red'):
    return np.where(s == np.nanmax(s.values), props, '')

df_results = pd.DataFrame.from_dict(dict_results_ravel, orient="index")

dict_df_results_splits = {}
for split in ["random_125", "random_250", "distribution_125", "distribution_250"]:
    indexes = []
    for i in df_results.index:
        if split in i:
            indexes.append(i)
    df_tmp = df_results.filter(indexes, axis=0)


    # and apply styling to it via the `subset` arg; first arg is styler function above
    idx_best = []
    idx_best.extend(df_tmp[['mae', 'rmse']].idxmin().tolist())
    idx_best.extend(df_tmp[['spearman', 'r2_score']].idxmax().tolist())
    df_tmp = df_tmp.style.applymap(df_style, subset=(idx_best, ["mae", "rmse", "spearman", "r2_score"]))

    idx_best_max, idx_best_max_count = Counter(idx_best).most_common(1)[0]
    if idx_best_max_count > 1:
        df_tmp = df_tmp.applymap(df_style_bold, subset=([idx_best_max], ["mae", "rmse", "spearman", "r2_score"]))

    dict_df_results_splits[split] = df_tmp

    print(split)
    display(dict_df_results_splits[split])

random_125

random_250

distribution_125

distribution_250